body {
    background-color:green;
    text-align:left;
}

h1 {
    color:black;
    font-size:40px;
    text-align: left;
}

p {
    color:black; 
    font-family:verdana;
    font-size: 20px;
    width: 100%;
    box-sizing: content-box;
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

#TS4 {
    background-color: tomato;
    color: black;
    padding: 40px;
    text-align: left;
}

a {
    background-color: lightblue;
    font-size: 20px;
}

.nav-link {
    background-color: lightblue;
    color: white;
    border: 1px solid white;
    margin: 20px;
    padding: 10ppx;
}

a:hover {
    background-color: blue;
    font-size: 20px;
}

div {
    width: 100%;
    box-sizing: content-box;
    padding: 20px;
    border: 2px solid red;
}

img {
    width: 100%;
  }