body {
    background-color:lightblue;
    text-align:center;
}

h1 {
    color:black;
    font-size:40px;
}

p {
    color:black; 
    font-family:verdana;
    font-size: 20px;
    height: fit-content;
    width: 300px;
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#TS4 {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

a {
    background-color: blue;
    font-size: 10px;
}

.nav-link {
    background-color: tomato;
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

a:hover {
    background-color: blue;
    font-size: 10px;
}

div {
    height: fit-content;
    width: 600px;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

img {
    width: 100%;
  }